
 .header{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .logo {
    padding: 45px;
    border: 20px;
    flex-direction: row;
 }
 .greeting{
    display: flex;
    flex-direction: column;
    display: block;
 }
 .links {
    align-items: right;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: right;
 }